/*
 * Style tweaks
 * --------------------------------------------------
 */
body {
  padding-top: 0px;
  background-color: #0d1318;
}

hr {
	margin: 0 0 0 112px;
	display: block; 
	height: 1px;
	border: 0; 
	border-top: 1px solid #0d1318;
	padding: 0;
}

/* Tweets navigation */
.nav-sidebar {
  margin-right: -15px;
  margin-bottom: 20px;
  margin-left: -15px;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #161f26;
}

.tweet {
	position: relative;
	display: table;
	width: 100%;
	padding: 0px;
}

.tweetavatar, .tweetcontent {
	display: table-cell;
}

.tweetavatar {
	vertical-align:top;
	width: 72px;
	height: 72px;
}

.tweetavatar img {
	border-radius: 10px;
	margin: 20px;
}

.tweetcontent {
	padding: 16px 20px 10px 0;
}

.meta {
	color: #45636e;
}


/*
 * Main content
 */

.main {
  padding: 20px;
  height: 100%;
}
